@page
@model Schedule_Project.Pages.ModelsGay.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].NumberOfSessions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSessions)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
