@page
@model Schedule_Project.Pages.Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.SlotId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.SlotId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Season)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.TypeOfSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.TypeOfSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Slot1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Slot1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Slot2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Slot2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.HasSessionYet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.HasSessionYet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Class.ClassId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Subject.SubjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.TeacherNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Schedule.TeacherNavigation.TeacherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Schedule?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
